{% extends 'main/base.html' %}
{%  block content %}
<div class="container">
    <div class="album py-5 bg-light rounded">
        <div class="container d-flex justify-content-center">
            <form method="post" class="w-50 d-flex justify-content-center flex-column">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">Вход</h1>
                <strong class="text-danger">{{ form.non_field_errors }}</strong>
                {% for widget in form %}
                <div class="form-floating mb-3">
                    {{ widget }}
                    {{ widget.label_tag}}
                </div>
                {% if widget.errors %}
                <ol>
                    {% for error in widget.errors %}
                    <li><strong class="text-danger">{{ error }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}
                {% endfor %}
                <button class="w-100 btn btn-lg btn-warning" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}