{% extends 'main/index.html' %}
{% load static %}
{% block static-files %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/user.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js" defer></script>
{% endblock static-files %}
{% block posts-description %}
    <div class="post">
        <h2 class="post-post_title">Это ваши посты: </h2>
    </div>
{% endblock posts-description %}
{% block container-block %}
    <div class='author_info'>
        <h2 class="author_info-name"> Страница пользователя: {{ request.user }}</h2>
        <div class="author_info-wrap" >
            <ul class="author_info-wrap-list ">
                <h3>Пользовательская информация:</h3>
                {% if user.profile.user_sex %}
                    <li>Пол: {{ user.profile.user_sex }}</li>
                {% endif %}
                {% if user.profile.b_date %}
                    <li>Дата рождения: {{ user.profile.b_date }}</li>
                {% endif %}
                {% if user.profile.user_from %}
                    <li>Город: {{ user.profile.user_from}}</li>
                {% endif %}
                <li>Зарегистрировался: {{ user.date_joined}}</li>
                {% if user.profile.email %}
                    <li>Почта пользователя: {{ user.profile.email }}</li>
                {% endif %}
            </ul>
            <div class="author_info-wrap-user_bio">
                <h3>О себе:</h3>
                {% if not request.user.profile.bio %}
                <p>Автор ничего о себе не написал.</p>
                {% else %}
                <p class="author_info-wrap-user_bio__bio">{{ request.user.profile.bio }}</p>
                {% endif %}
            </div>
        </div>
        <div class="bio_button-wrap">
            <a href="{% url 'main:profile_update' user.pk %}" >
                <button class="right-navigation__button bio_button-wrap__bio_button">Редактировать</button>
            </a>
        </div>
    </div>
{% endblock container-block %}
<script src="{% static 'main/js/post.js' %}" defer></script>
