{% extends 'main/base.html' %}
{% load static %}
{% block static-files %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/show_post.css' %}">
{% endblock static-files %}
{%  block content %}
<div class="post">
    <h2 class="post-post_title">
        <a href="{% url 'main:show_post' post.slug %}" class="post-post_title__title">
            {{ post.title|capfirst }}
        </a>
    </h2>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="" class="post__image">
    {% endif %}
    {% if post.text %}
        <p class="post-text__text">{{ post.text|capfirst }}</p>
    {% endif %}
    <div class="post-description">
        <p class="post-description__pub_date">{{ post.publish_date }}</p>
        <div>
            <img src="" alt="">
            {{ post.comment.count }}
        </div>
        <a href="{% url 'main:user' post.author.slug %}" class="post-description__author">
            {{ post.author.username }}
        </a>
    </div>
</div>
<div class="comments" id="comments">
    {% if not comments %}
        <p class="comments__none">Этот пост ещё никто не прокомментировал, будьте первым!</p>
    {% endif %}
    <div>
        {% for comment in comments %}
            <div class="comments-comment">
                <p class="post-text__text">{{ comment.text }}</p>
                <div class="post-description">
                    <p class="post-description__pub_date">{{ comment.post_time }}</p>
                    <a href="{% url 'main:user' comment.author.slug %}"
                       class="post-description__author">
                        {{ comment.author }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block comments %}
    {% if request.user.is_authenticated %}
        <div class="right-navigation-comment_field user">
            <h3 class="right-navigation-comment_field-title">Добавить комментарий</h3>
            <form action="" method="POST" class="right-navigation-comment_field__comment_form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class='right-navigation__button' type="submit">Отправить</button>
            </form>
        </div>
    {% endif %}
{% endblock comments %}